<a href="https://colab.research.google.com/github/usaid-dev20/PythonOperations/blob/master/Python_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
numbers = [2,4,6,8,5,9,10,40,20,44]
total = 0
for number in numbers:
  total = total + number
  print(total)

print("total numbers ",total)

2
6
12
20
25
34
44
84
104
148
total numbers  148

In [ ]:


numbers = [ "1","2","3", "a"]
for number in numbers:
  if number.isdigit():
    print("It is a number")
  elif 97 <= ord(number)<= 122:
    print("it is small alphabet")

It is a number
It is a number
It is a number
it is small alphabet

In [ ]:
number = [1,2,1]
palindrome_number = []
start=0
end=len(number)-1
print("the number is pelendrome")

the number is pelendrome

In [ ]:
number=[1,2,3,4,5,6,7,8,9]
number.append(2)
print(number)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 2]

In [ ]:
number=[1,2,3,4,5,6,7,8,9]
number.insert(2,3)
print(number)

[1, 2, 3, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
number=[1,2,3,4,5,4,6,7,8,9]
number.remove(4)
print(number)

[1, 2, 5, 4, 6, 7, 8, 9]

In [ ]:
number=[1,2,3,4,5,4,6,7,8,9]
number.pop(4)
print(number)

[1, 2, 3, 4, 4, 6, 7, 8, 9]

In [ ]:
number=[1,2,3,4,5,4,6,7,8,9]
number.clear()
print(number)

[]

In [ ]:
number = [1,2,3,4,5,6,7,8,9]
print("current list of number",number)
index=int(input("enter the index of the element you want to change:"))
value=int(input("enter the index of the element you want to change:"))
if index<len(number):
  number[index]=value
  print("updated list of number",number)
else:
  print("index out of range")

current list of number [1, 2, 3, 4, 5, 6, 7, 8, 9]
enter the index of the element you want to change:2
enter the index of the element you want to change:4
updated list of number [1, 2, 4, 4, 5, 6, 7, 8, 9]

In [ ]:
# given tuple
data = (15, 3, 27, 8, 19, 40, 2)

# find maximum and minimum
maximum_value = max(data)
minimum_value = min(data)

# print results
print("Tuple:", data)
print("Maximum value:", maximum_value)
print("Minimum value:", minimum_value)

Tuple: (15, 3, 27, 8, 19, 40, 2)
Maximum value: 40
Minimum value: 2

In [ ]:
# given tuple
numbers = (2, 4, 6, 2, 8, 2, 10, 4, 2)

# number to count
num = 2

# count occurrences
count = numbers.count(num)

# print result
print("Tuple:", numbers)
print(f"The number {num} appears {count} times.")

Tuple: (2, 4, 6, 2, 8, 2, 10, 4, 2)
The number 2 appears 4 times.

In [ ]:
# given tuple
data = (10, 20, 30, 40, 50)

# get last two elements using slicing
last_two = data[-2:]

# print the result
print("Last two elements:", last_two)

Last two elements: (40, 50)

In [ ]:
# given tuple
data = (10, 20, 30, 40, 50)

# slicing to get last two elements
last_two = data[-2:]

# print the result
print("Last two elements:", last_two)

Last two elements: (40, 50)

In [ ]:
# define two tuples
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# concatenate the tuples
result = tuple1 + tuple2

# print the result
print("First tuple:", tuple1)
print("Second tuple:", tuple2)
print("Concatenated tuple:", result)

First tuple: (1, 2, 3)
Second tuple: (4, 5, 6)
Concatenated tuple: (1, 2, 3, 4, 5, 6)

In [ ]:
# tuple
my_tuple = (10, 20, 30, 40)

# convert tuple into list
my_list = list(my_tuple)

# print the result
print("Tuple:", my_tuple)
print("List:", my_list)

Tuple: (10, 20, 30, 40)
List: [10, 20, 30, 40]

In [ ]:
num = int(input("Enter a number: "))

if num > 0:
    print("The number is positive.")
else:
    print("The number is negative or zero.")

The number is positive.

In [ ]:
age = int(input("Enter your age: "))

if age >= 18:
    print("You are eligible to vote.")
else:
    print("You are not eligible to vote.")

You are eligible to vote.

In [ ]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

if a > b:
    print("The first number is larger.")
else:
    print("The second number is larger.")

In [ ]:
num = int(input("Enter a number: "))

if num % 5 == 0:
    print("The number is divisible by 5.")
else:
    print("The number is not divisible by 5.")

In [ ]:
year = int(input("Enter a year: "))

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print("It is a leap year.")
else:
    print("It is not a leap year.")

In [ ]:
marks = int(input("Enter your marks: "))

if marks >= 90:
    print("Grade: A")
elif marks >= 75:
    print("Grade: B")
elif marks >= 60:
    print("Grade: C")
elif marks >= 45:
    print("Grade: D")
else:
    print("Grade: F (Fail)")

In [ ]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))

if a > b and a > c:
    print("The first number is the largest.")
elif b > c:
    print("The second number is the largest.")
else:
    print("The third number is the largest.")

In [ ]:
day = int(input("Enter a number (1â€“7): "))

if day == 1:
    print("Monday")
elif day == 2:
    print("Tuesday")
elif day == 3:
    print("Wednesday")
elif day == 4:
    print("Thursday")
elif day == 5:
    print("Friday")
elif day == 6:
    print("Saturday")
elif day == 7:
    print("Sunday")
else:
    print("Invalid number! Please enter between 1 and 7.")

In [ ]:
ch = input("Enter a letter: ").lower()

if ch in ('a', 'e', 'i', 'o', 'u'):
    print("It is a vowel.")
elif ch.isalpha():
    print("It is a consonant.")
else:
    print("Invalid input! Please enter an alphabet.")

In [ ]:
# given tuple
my_tuple = (5, 10, 15, 20)

# convert tuple to list
my_list = list(my_tuple)

# print both
print("Tuple:", my_tuple)
print("List:", my_list)

In [ ]:
# empty lists
small = []
medium = []
large = []

# loop through numbers from 1 to 20
for num in range(1, 21):
    if num <= 7:
        small.append(num)
    elif num <= 14:
        medium.append(num)
    else:
        large.append(num)

# print the results
print("Small numbers:", small)
print("Medium numbers:", medium)
print("Large numbers:", large)

In [ ]:
even = []
odd = []

for num in range(1, 11):
    if num % 2 == 0:
        even.append(num)
    else:
        odd.append(num)

print("Even numbers:", even)
print("Odd numbers:", odd)

In [ ]:
small = []
medium = []
large = []

for num in range(1, 16):
    if num <= 5:
        small.append(num)
    elif num <= 10:
        medium.append(num)
    else:
        large.append(num)

print("Small:", small)
print("Medium:", medium)
print("Large:", large)

In [ ]:
div3 = []
div5 = []
others = []

for num in range(1, 16):
    if num % 3 == 0:
        div3.append(num)
    elif num % 5 == 0:
        div5.append(num)
    else:
        others.append(num)

print("Divisible by 3:", div3)
print("Divisible by 5:", div5)
print("Others:", others)

In [ ]:
small_even = []
small_odd = []
large = []

for num in range(1, 11):
    if num < 6 and num % 2 == 0:
        small_even.append(num)
    elif num < 6:
        small_odd.append(num)
    else:
        large.append(num)

print("Small even:", small_even)
print("Small odd:", small_odd)
print("Large:", large)

In [ ]:
low_square = []
mid_square = []
high_square = []

for num in range(1, 11):
    square = num ** 2
    if square < 20:
        low_square.append(square)
    elif square < 60:
        mid_square.append(square)
    else:
        high_square.append(square)

print("Low squares:", low_square)
print("Mid squares:", mid_square)
print("High squares:", high_square)

In [12]:
numbers = (12,9,10,13,4,12,9,25,36)

odd_num = []
even_num = []


for number in numbers:   # this loop is going to iterate till its length
  if number % 2 == 0:
    if number not in even_num:
      even_num.append(number)
  elif number % 2 == 1:
    if number not in odd_num:
      odd_num.append(number)

print("odd numbers",odd_num)
# odd numbers [9, 13, 9, 25]
print("even numbers",even_num)
#even numbers [12, 10, 4, 12, 36]

odd numbers [9, 13, 25]
even numbers [12, 10, 4, 36]

In [21]:
list=[20,54,36]
tup=(23,45,2,4,9)
for i in range(0,3):
  list.append(tup[i])

if 3 in list:
  list.remove(3)
else: print("There is no 3 in the list")

list.insert(0,3)
print(list)

list.pop(3)
print(list)

There is no 3 in the list
[3, 20, 54, 36, 23, 45, 2]
[3, 20, 54, 23, 45, 2]